body {
  font-family: "Noto Sans TC", sans-serif;
  background-color: #ffffff; /* 預設白色背景 */
  color: #222;
  text-align: center;
  padding: 50px;
  transition: background-color 0.4s, color 0.4s;
}

button {
  background-color: #ff99b7;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
}

button:hover {
  background-color: #ff77a0;
}

#msg {
  margin-top: 20px;
  font-size: 18px;
}

/* 暗黑主題樣式 */
.dark {
  background-color: #000000;
  color: #ffffff;
}

.dark button {
  background-color: #555;
  color: #fff;
}

.dark button:hover {
  background-color: #888;
}
